@import "../../variables.scss";

.task-container {
    // border-left: 1px solid $bmw-gray;
    border-top: 1px solid $bmw-gray;
    border-right: 1px solid $bmw-gray;


    // &.right {
    //     border-right: 1px solid #D2D2D2;
    // }

    &.no-tasks {
        border-right: 1px solid $bmw-gray;
    }
}

.task-category {
    background-color: #D2D2D2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $bmw-gray;
    cursor: pointer;
    padding-top: 5px;
    // border-right: 1px solid $bmw-gray;
    border-left: 1px solid $bmw-gray;


    .description {
        color: white;
        font-weight: bold;
    }

    &:hover {
        background-color: $bmw-gray;
        color: $bmw-blue;
        fill: $bmw-blue;
    }

    &.empty {
        // border-right: 1px solid #D2D2D2;
        margin-left: -1px;
    }

    &.active {
        background-color: whitesmoke;
        // border-left: 5px solid $bmw-gray;
        // margin-left: -5px;
    }
}

.task {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EAF8FF;
    border-bottom: 1px solid $bmw-gray;
    // border-right: 1px solid $bmw-gray;
    border-left: 1px solid $bmw-gray;
    margin-left: -1px;
}