@import "../../variables.scss";

.task-container {
    &.no-tasks {
        // border-right: 1px solid $bmw-gray;
    }
}

@keyframes category-get-active {
    0% {background-color: $bmw-gray;color: white;}
    100% {background-color: $bmw-blue; color: white;}
}

@keyframes category-get-hover {
    100% {background-color: $bmw-gray;color: white;}
}

.task-category {
    background-color: #D2D2D2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.65);
    width: 100%;
    font-weight: bold;
    border-radius: 10px;

    &:hover {
        animation-name: category-get-hover;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }

    &.empty {
        // border-right: 1px solid #D2D2D2;
        margin-left: -1px;
    }

    &.active {
        animation-name: category-get-active;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
}

.task {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EAF8FF;
    // border-right: 1px solid $bmw-gray;
    margin: 5px;
}