.selection-area {
    // min-width: 130px;
    // max-width: 1000px;
    width: 80%;
    min-height: 100px;
    padding: 5px;

    &.empty {
        background-color: #F5F5F5;
        border: 1px dotted black;
    }
}

.attribute-area {
}