.selection-area {
    width: 77%;
    min-height: 116px;
    padding: 5px;
    overflow-x: auto;

    &.empty {
        background-color: white;
        border: 1px dotted black;
    }
}

.attribute-area {
}